.AppContainer {
  display: flex;
  padding: 6px 0px;
  background-color: #232323;
}

.AppContainer-sideleft {
  flex: 1 0 25%;
  padding: 0px 6px 6px 10px;
  background-color: #2F343D;
  box-sizing: border-box;
}

.AppContainer-sideright {
  flex: 2 0 75%;
  position: relative;
  padding: 0px 10px;
  box-sizing: border-box;
  background-color: #eeeeee;
}