.SendMessage {
  display: flex;
  position: fixed;
  top: 90vh;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #CBCED1;
  border-radius: 3px;
  background-color: #ffffff;
}

.SendMessage-input {
  padding: 10px;
  flex: 1 0 0;
}

.SendMessage-input input {
  width: 100%;
  border: 0;
  background-color: transparent;
  font-family: inherit;
}
